* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  z-index: 99999;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  display: block;
  color: #FFFFFF;
  padding: 30px 10px;
}

/* style padrão da navbar */

body {
  font-family: 'Roboto', sans-serif;
}
nav {

  background: #F7F7F7;
  padding: 5px 20px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.116);
  
}
ul {
  list-style-type: none;
}
a {
  color: #595959;
  text-decoration: none;
}

.link-ativo{
  text-decoration: underline overline;
  text-decoration-color:#00959C;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}

a:hover {
  text-decoration: underline overline;
  text-decoration-color:#00959C;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  
}


.logo img{
  width: 50px;
}

.menu li {
  
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #00959C solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
      
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }

  .button a {
      padding: 10px 17px;
      background: #016c70;
      color: #ffffff;
      border: 2px solid #016c70;
      border-radius:50em;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      font-size:13px;
      font-weight:bold;
  }

  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #ffffff;
      color: #016c70;
      border: 2px solid #016c70;
  }


  .button.secondary a {
      background: #CEF1F2;
      color: #ffffff;
      border: 2px solid #CEF1F2;
  }

  .button.secondary a:hover {
      background: #ffffff;
      color: #CEF1F2;
      border: 2px solid #CEF1F2;
  } 

  .button.secondary {
      border: 0;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 20px;
  }
  .menu li.button {
      padding-right: 0;
  }
}

/* fim style padrão da navbar */